* {
    margin: 0;
    text-align: center;
}


/*  */

body {
    background-color: #87cffa;
    /* font-family: 'Courier New', Courier, monospace; */
}

#header {
    text-align: center;
    color: #a3a0f5;
}

.navbar-brand img {
    height: 50px;
    width: auto;
    border-radius: 50%;
    border: 1px solid #fff;
}

.pamaid {
    background-color: #fff;
}

.pamaid img {
    height: 350px;
    width: 250px;
}

.walking img {
    height: 350px;
    width: 250px;
}

.three {
    background-color: green;
    color: white;
}

h3 {
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    font-weight: bold;
    text-align: center;
}