* {
    margin: 0;
}


/*  */

body {
    background-color: #87cffa;
    /* font-family: 'Courier New', Courier, monospace; */
}

.navbar-brand img {
    height: 50px;
    width: auto;
    border-radius: 50%;
}