* {
    margin: 0;
    text-align: center;
}


/*  */

body {
    background-color: #87cffa;
    /* font-family: 'Courier New', Courier, monospace; */
}

#header {
    text-align: center;
    color: #a3a0f5;
}

.navbar-brand img {
    height: 50px;
    width: auto;
    border-radius: 50%;
    border: 1px solid #fff;
}

.one {
    background-color: #fff;
    color: #000;
}

.two {
    background-color: red;
    color: white;
}

.three {
    background-color: green;
    color: white;
}

#pamaid {
    font-family: 'Courier New', Courier, monospace;
}