body {
    background-color: #87cffa;
}

.navbar {
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
}

li {
    text-align: center;
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    text-decoration: none;
    padding: 10px;
    background-color: #0000ff;
    font-size: 20px;
    color: white
}

li a:hover {
    background-color: green;
    color: orangered;
}

#title {
    text-align: center;
    color: #2c2828;
}